<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ontip.mapper.AccountMapper">

    <insert id="register">
        insert into account(id,username,password,role,register_time,recommend_id,name,address)
        values(#{id},#{username},#{password},#{role},#{registerTime},#{recommendId},#{name},#{address})
    </insert>

    <select id="getAccountPassword" resultType="java.lang.String" parameterType="java.lang.String">
        select password
        from account
        where
        username = #{username}
    </select>
    <resultMap id="getAccountInfoMap" type="xyz.ontip.pojo.entity.Account">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="role" column="role"/>
    </resultMap>
    <select id="getAccountInfo" resultMap="getAccountInfoMap">
        select id,username,role
        from account
        where
        username = #{username}
    </select>
    <select id="verifyRecommendCode" resultType="java.lang.Long">
        SELECT a.id
        FROM account a
        WHERE a.recommend_code  = #{recommendCode} AND a.role = 'admin'
    </select>
</mapper>