<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ontip.mapper.admin.ProviderMapper">

    <select id="getAllProvider" resultType="xyz.ontip.pojo.entity.Provider">
        select  id,
                proCode,
                proName,
                proDesc,
                proPhone,
                proAddress,
                proFax,
                createId,
                creationDate,
                modifyDate,
                modifyId,
                proContact
        FROM provider
        ORDER BY creationDate DESC, id ASC
    </select>

    <select id="getSupplierListByPage" resultType="xyz.ontip.pojo.entity.Provider">
        select  id,
                proCode,
                proName,
                proDesc,
                proPhone,
                proAddress,
                proFax,
                createId,
                creationDate,
                modifyDate,
                modifyId,
                proContact
        FROM provider
        ORDER BY creationDate DESC, id ASC
        LIMIT #{providerParamVO.pageSize} OFFSET #{providerParamVO.pageSizeIndex}
    </select>

    <select id="SearchSupplierList" resultType="xyz.ontip.pojo.entity.Provider">
        select  id,
                proCode,
                proName,
                proDesc,
                proPhone,
                proAddress,
                proFax,
                createId,
                creationDate,
                modifyDate,
                modifyId,
                proContact
        FROM provider
        WHERE proAddress LIKE CONCAT('%', #{searchProviderVO.keyWords}, '%')
           OR proDesc LIKE CONCAT('%', #{searchProviderVO.keyWords}, '%')
           OR proName LIKE CONCAT('%', #{searchProviderVO.keyWords}, '%')
           OR proCode LIKE CONCAT('%', #{searchProviderVO.keyWords}, '%')
           OR proContact LIKE CONCAT('%', #{searchProviderVO.keyWords}, '%')
           OR DATE_FORMAT(creationDate, '%Y-%m-%d') LIKE CONCAT('%', #{searchProviderVO.keyWords}, '%')
        ORDER BY creationDate DESC, id ASC
        LIMIT #{searchProviderVO.pageSize} OFFSET #{searchProviderVO.pageSizeIndex}
    </select>

    <insert id="insertSupplier">
        insert into provider(id,
                             proCode,
                             proName,
                             proDesc,
                             proPhone,
                             proAddress,
                             proFax,
                             createId,
                             proContact,
                             creationDate,
                             modifyDate,
                             modifyId)
        values (#{providerDTO.id},
                #{providerDTO.proCode},
                #{providerDTO.proName},
                #{providerDTO.proDesc},
                #{providerDTO.proPhone},
                #{providerDTO.proAddress},
                #{providerDTO.proFax},
                #{providerDTO.createId},
                #{providerDTO.proContact},
                #{providerDTO.creationDate},
                #{providerDTO.modifyDate},
                #{providerDTO.modifyId})
    </insert>

    <delete id="batchDeleteSupplier">
        DELETE FROM provider
        WHERE id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getSupplierInfoById" resultType="xyz.ontip.pojo.entity.Provider">
        select id,
               proCode,
               proName,
               proDesc,
               proPhone,
               proAddress,
               proFax,
               createId,
               creationDate,
               modifyDate,
               modifyId,
               proContact
        FROM provider
            WHERE id = #{id}
        ORDER BY creationDate DESC, id ASC
    </select>

    <update id="updateSupplierVo">
        UPDATE provider
        <set>
            <if test="proCode != null">proCode = #{proCode},</if>
            <if test="proName != null">proName = #{proName},</if>
            <if test="proDesc != null">proDesc = #{proDesc},</if>
            <if test="proPhone != null">proPhone = #{proPhone},</if>
            <if test="proAddress != null">proAddress = #{proAddress},</if>
            <if test="proFax != null">proFax = #{proFax},</if>
            <if test="modifyDate != null">modifyDate = #{modifyDate},</if>
            <if test="modifyId != null">modifyId = #{modifyId},</if>
            <if test="proContact != null">proContact = #{proContact}</if>
        </set>
        WHERE id = #{id}
    </update>

    <insert id="batchInsertSupplier">
        insert into provider(id,
        proCode,
        proName,
        proDesc,
        proPhone,
        proAddress,
        proFax,
        createId,
        proContact,
        creationDate,
        modifyDate,
        modifyId)
        values
        <foreach collection="saveExcel" item="item" separator=",">
            (#{item.id},
            #{item.proCode},
            #{item.proName},
            #{item.proDesc},
            #{item.proPhone},
            #{item.proAddress},
            #{item.proFax},
            #{item.createId},
            #{item.proContact},
            #{item.creationDate},
            #{item.modifyDate},
            #{item.modifyId})
        </foreach>
    </insert>

    <select id="getProviderMap" resultType="xyz.ontip.pojo.dto.bill.ProviderMapDTO">
        select id, proName
        from provider
    </select>
</mapper>